{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Template que ira renderizar
    
}}

<!-- Botão seletor de modo de visualização -->
<!-- nav-grouping-selector -->
<div class="dropdown mb-1 mr-auto">
    <button id="groupingdropdown_" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
        <span class="d-sm-inline-block" data-active-item-text>
            {{#str}} onprogress, block_discipline {{/str}}
        </span>
    </button>
    <ul class="dropdown-menu" role="menu" data-actual-value="" data-skip-active-class="true" data-show-active-item data-active-item-text aria-labelledby="groupingdropdown_">
        <li>
            <a id="btnTodos" class="dropdown-item" href="#" data-value="1" role="menuitem">
                {{#str}} allcourses, block_discipline {{/str}}
            </a>
        </li>
        <li>
            <a id="btnEmAndamento" class="dropdown-item" href="#"  data-value="2" role="menuitem">
                {{#str}} onprogress, block_discipline {{/str}}
            </a>
        </li>
        <li>
            <a id="btnNaoIniciados" class="dropdown-item" href="#"  data-value="3" role="menuitem">
                {{#str}} notstarted, block_discipline {{/str}}
            </a>
        </li>
        <li>
            <a id="btnEncerrados" class="dropdown-item" href="#"  data-value="4" role="menuitem">
                {{#str}} concluded, block_discipline {{/str}}
            </a>
        </li>
    </ul>
</div>

<div class="mb-1 mr-auto">
    <span class="filler">&nbsp;</span>
</div>
<!-- Fim do botão seletor de modo de visualização -->



<!-- Lista de cursos -->
<div id="lista-cursos">
    
</div>
<!-- Fim da lista de cursos -->

<ul id="pagina" class="pagination mb-0" data-length="" data-page-current="0">
    <li class="page-item" data-region="page-item" data-control="previous">
        <a id="pgDown" href="#" class="page-link" data-region="page-link" aria-label="Página anterior">
            <span class="icon-no-margin dir-rtl-hide" aria-hidden="true">
                <i class="icon fa fa-chevron-left fa-fw " aria-hidden="true"></i>
            </span>
            <span class="icon-no-margin dir-ltr-hide" aria-hidden="true">
                <i class="icon fa fa-chevron-right fa-fw " aria-hidden="true"></i>
            </span>
        </a>
    </li>
    <li class="page-item" data-region="page-item" data-control="next">
        <a id="pgUp" href="#" class="page-link" data-region="page-link" aria-label="Próxima página">
            <span class="icon-no-margin dir-rtl-hide" aria-hidden="true">
                <i class="icon fa fa-chevron-right fa-fw " aria-hidden="true"></i>
            </span>
            <span class="icon-no-margin dir-ltr-hide" aria-hidden="true">
                <i class="icon fa fa-chevron-left fa-fw " aria-hidden="true"></i>
            </span>
        </a>
    </li>
</ul>

{{#js}}
let selectedBtn = 2;
require(['block_discipline/main'], function(main) {
    main.init();

    //Valores referentes ao número de cursos a serem exibidos por página
    let pagina = document.querySelector('#pagina');

    //Botões para exibir próxima página, ou a anterior
    let pgDown = document.querySelector('#pgDown');
        pgDown.addEventListener('click',function(){
            if(pagina.dataset.pageCurrent > 0){
                pagina.dataset.pageCurrent--;
                disparaEvento();
            }
        });

    let pgUp = document.querySelector('#pgUp');
        pgUp.addEventListener('click',function(){
            if(pagina.getAttribute('data-length') > 0){
                pagina.dataset.pageCurrent++;
                disparaEvento();
            }
        });

    //Botões que selecionam o modo de exibição ======
    let btnTodos = document.querySelector('#btnTodos');
        btnTodos.addEventListener('click', function(){
            selectedBtn = this.dataset.value;
            pagina.dataset.pageCurrent = 0;
            disparaEvento();
        });

    let btnEmAndamento = document.querySelector('#btnEmAndamento');
        btnEmAndamento.addEventListener('click', function(){
            selectedBtn = this.dataset.value;
            pagina.dataset.pageCurrent = 0;
            disparaEvento();
        });

    let btnNaoIniciados = document.querySelector('#btnNaoIniciados');
        btnNaoIniciados.addEventListener('click', function(){
            selectedBtn = this.dataset.value;
            pagina.dataset.pageCurrent = 0;
            disparaEvento();
        });

    let btnEncerrados = document.querySelector('#btnEncerrados');
        btnEncerrados.addEventListener('click', function(){
            selectedBtn = this.dataset.value;
            pagina.dataset.pageCurrent = 0;
            disparaEvento();
        });

    function disparaEvento(){
        let value = selectedBtn;
        let pg = pagina.dataset.pageCurrent;
        main.init(value, pg);
    }
});

{{/js}}
